.field {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 40px;
  min-width: 160px;
  gap: 2px;
  align-items: flex-start;
}

.field:hover {
  background-color: #f0f0f0;
}

.fieldLabel {
  font-size: 12px;
  font-weight: 600;
  color: #222;
  line-height: 16px;
}

.fieldValue {
  font-size: 14px;
  color: #717171;
  line-height: 18px;
}
