.container {
  padding: 8px 0;
}

.list {
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.empty {
  font-size: 14px;
  color: #717171;
  text-align: center;
  padding: 24px 0;
  margin: 0;
}
