.modal-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    padding: 25px;
    border: 1px solid #bbb;
    position: absolute;
    left: 0;
    top: -10px;
    border-radius: 50px;
    background-color: white;
}

.destination-option {
    width: 100%;
    height: 87.5px;
}

.destination-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 20px;
}

.destination-row h4 {
  margin: 0;
  font-size: 16px;
}

.destination-row p {
  margin: 0;
  font-size: 14px;
}

.loc-icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.loc-desc {
    margin-left: 10px;
    margin-bottom: 10px;
}