.wrapper {
  position: relative;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 40px;
  min-width: 180px;
}

.field:hover {
  background-color: #f7f7f7;
}

.label {
  font-size: 12px;
  font-weight: 600;
}

.value {
  font-size: 14px;
  color: #717171;
  white-space: nowrap;
}

.dropdown {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 400px;
  z-index: 100;
}
