.search:has(.search-btn:hover) {
  background-color: transparent;
}

.search:has(.delete-btn:hover) {
  background-color: transparent;
}

.active {
  border: 1px solid #bbb;
  box-shadow: -4px 0px 8px #ddd;
  background-color: white;
}

.block {
  display: none;
}

.search h6 {
  font-size: 12px;
  margin: 0;
  margin-left: 30px;
}

.search p {
  font-size: 14px;
  margin: 0;
  margin-left: 30px;
}

.search-btn {
  background-color: #e00b41;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin-right: 15px;
  padding: 0;
  display: block;
  color: white;
}

.search-btn:hover {
  background-color: #FF385C;
}

.search-btn_active {
  background-color: #FF385C;
  width: 75px !important;
}

.form-actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
}