@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #f7f7f7;
  color: #222222;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.font-montserrat {
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
